<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary" (click)="onButtonClick()">
      {{ buttonName }}
    </button>
    <hr />
    <h2>{{ displaingNumbers }}</h2>
    <br /><br />
    <ul class="list-group">
      <div *ngIf="onlyOdd">
        <li
          class="list-group-item"
          [ngClass]="{ odd: number % 2 !== 0 }"
          [ngStyle]="{
            backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparet'
          }"
          *ngFor="let number of numbers"
        >
          <p *ngIf="number % 2 !== 0">{{ number }}</p>
        </li>
      </div>
      <div *appUnless="onlyOdd">
        <li
          class="list-group-item"
          *ngFor="let number of numbers"
          [ngClass]="{ odd: number % 2 !== 0 }"
          [ngStyle]="{
            backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparet'
          }"
        >
          <i *ngIf="number % 2 === 0">{{ number }}</i>
        </li>
      </div>
      <br />
      <div appBasicHighlight >
        <p>[ngSwitch] example:</p>
        <div class="col-xs-6" [ngSwitch]="evenValue" style="color: brown;">
          <i *ngSwitchCase="2">Value - 2</i>
          <i *ngSwitchCase="4">Value - 4</i>
          <i *ngSwitchCase="6">Value - 6</i>
          <i *ngSwitchDefault>Default value</i>
        </div>
        <div class="col-xs-6" [ngSwitch]="oddValue" style="color: brown;">
          <i *ngSwitchCase="1">Value - 1</i>
          <i *ngSwitchCase="3">Value - 3</i>
          <i *ngSwitchCase="5">Value - 5</i>
          <i *ngSwitchCase="7">Value - 7</i>
          <i *ngSwitchDefault>Default value</i>
        </div>
      </div>
      <br />
    </ul>
    <p appBasicHighlight id="bacic-dirv">My basic directive styling</p>
    <br />
    <p appBetterCorrectHighlight="own_header">
      My better and corcet directive for header styling
    </p>
    <br />
    <p appBetterCorrectHighlight="own_para">
      My better and correct directive for paragraph styling
    </p>
    <br />
    <p appMouseOnHighlight>
      My HostListener+ElementRef+Renderer2 mouse highlight directive
    </p>
    <br />
    <p appHostbindingMouseOnHighlight>
      My HostListener+HostBinding mouse highlight directive
    </p>
    <br />
    <!-- default bidning, two examples defautlColor and highlightColor. We can pass params in 
    two different ways.  -->
    <p
      appHostbindingMouseOnHighlight
      [defaultColor]="'grey'"
      highlightColor="yellow"
    >
      My HostListener+HostBinding mouse highlight directive with custom colors
    </p>
    <br />
  </div>
</div>
