<div style="text-align: center">
  <h1 style="align-content: center; color: red">learning-mix works!</h1>
  <a
    >Place to write
    <input type="text" placeholder="writhe something here" />
  </a>
  <p>Your wiritig results{{ moduleName }}</p>
</div>
<div>
  <h3>learning-mix component contains:</h3>
</div>
<hr />
<b style="margin-left: 10px;">1.</b>
<div style="background-color: aliceblue">
  <ul>
    <app-servers></app-servers>
  </ul>
</div>
<b style="margin-left: 10px;">2.</b>
<div style="background-color: aliceblue">
  <ul>
    <app-user-task></app-user-task>
  </ul>
</div>
<ul>
  
</ul>
<hr />
