<div>
  <h1 [class]="titleStyleClass">{{ learningComponentTitle }}</h1>
  <app-buttons-board (boardlButtonClicked)="onBoardButtonClick($event)" 
  [firstLinebuttonLables]="firstLinebuttonLabelNames">
  </app-buttons-board>
</div>

<div class="task" *ngIf="isComponentActive('app_spinner_test')">
  <hr />
  <app-spinner-test></app-spinner-test>
  <hr />
</div>

<div class="task" *ngIf="isComponentActive('app_section5_task')">
  <hr />
  <app-section5-task></app-section5-task>
  <hr />
</div>

<div class="task" *ngIf="isComponentActive('app_servers')">
  <hr />
  <app-servers></app-servers>
  <hr />
</div>

<div class="task" *ngIf="isComponentActive('app_user_task')">
  <hr />
  <app-user-task></app-user-task>
  <hr />
</div>

<div class="task" *ngIf="isComponentActive('app_click_task')">
  <hr />
  <app-click-task></app-click-task>
  <hr />
</div>

<div class="task" *ngIf="isComponentActive('app_section7_directives')">
  <hr />
  <app-section7-directives></app-section7-directives>
  <hr />
</div>

<div class="row justify-content-center" style="margin-top: 3%;">
  <div class="col-auto">
    <a [href]="mixImageSrc" target="_blank">
      <img [src]="mixImageSrc" class="mix-image">
    </a>
  </div>
</div>
