<div style="text-align: center">
  <h1 style="align-content: center; color: red">learning-mix works!</h1>
  <a
    >Place to write
    <input type="text" placeholder="writhe something here" />
  </a>
  <p>Your wiritig results{{ moduleName }}</p>
</div>
<div>
  <h3>learning-mix component contains:</h3>
</div>
<hr />

<b style="margin-left: 10px">Section5 - task.</b>
<div class="task">
  <ul>
    <app-section5-task></app-section5-task>
  </ul>
</div>

<hr />
<b style="margin-left: 10px">1.</b>
<div class="task">
  <ul>
    <app-servers></app-servers>
  </ul>
</div>
<b style="margin-left: 10px">2.</b>
<div class="task">
  <ul>
    <app-user-task></app-user-task>
  </ul>
</div>
<b style="margin-left: 10px">3.</b>
<div class="task">
  <ul>
    <app-click-task></app-click-task>
  </ul>
</div>
<hr />
