<div class="container">
  <h3>{{ reactiveFormExampleTitle }}</h3>
  <div class="row"></div>
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            formControlName="username"
            class="form-control"
            placeholder="Enter username"
          />
          <span
            class="help-block"
            style="color: red"
            *ngIf="
              !userForm.get('userData.username')!.valid &&
              userForm.get('userData.username')!.touched
            "
          >
            <span
              *ngIf="
                userForm.get('userData.username')?.errors?.['nameIsForbidden']
              "
            >
              This name is invalid and forbidden!</span
            >
            <span
              *ngIf="userForm.get('userData.username')?.errors?.['required']"
            >
              This field is required!</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter email"
          />
          <span
            class="help-block"
            style="color: red"
            *ngIf="
              !userForm.get('userData.email')!.valid &&
              userForm.get('userData.email')!.touched
            "
            >Please enter a valid email value!!</span
          >
        </div>
      </div>

      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input
            type="radio"
            id="genderInput"
            name="genderInput"
            formControlName="genderInput"
            [value]="gender"
          />{{ gender }}
        </label>
      </div>
      <span
        class="help-block"
        style="color: rgb(228, 139, 5)"
        *ngIf="!userForm!.valid && userForm!.touched"
        >Please enter a valid data!!</span
      >
      <div formArrayName="hobbiesArray">
        <h4>Your Hobbies</h4>
        <button type="button" class="btn btn-default" (click)="onAddHobby()">
          Add Hobby
        </button>
        <span
          class="help-block"
          style="color: red"
          *ngIf="!userForm.get('hobbiesArray')!.valid && userForm!.touched"
          >Add at least one hobby</span
        >
        <div
          class="form-group"
          *ngFor="let hobbyControl of getHobbiesControls(); let i = index"
        >
          <input
            class="form-control"
            id="hobby +i"
            name="hobby +i"
            type="text"
            [formControlName]="i"
          />
          <span
            class="help-block"
            style="color: red"
            *ngIf="hobbyControl.invalid && hobbyControl.touched"
            >Min 5 characters required!</span
          >
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!userForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
