<div class="text-center">
  <button
    class="btn btn-primary mx-2"
    (click)="onClickDisplayDetails()"
    [disabled]="isDetailsButtonDisabled"
  >
    Display Details
  </button>
  <button
    class="btn btn-warning mx-2"
    (click)="onClickHideDetails()"
    [disabled]="!isDetailsButtonDisabled"
  >
    Hide Details
  </button>
</div>

<div class="text-center">
  <h2>MAGIC COUNTER</h2>
  <p *ngIf="showDetails">
    <span style="background: rgb(201, 255, 93); color: red">{{
      secretPassword
    }}</span>
  </p>

  <div *ngFor="let detail of details; let i = index">
    <dl
      [ngClass]="{
        detailb: i >= 5
      }"
      [ngStyle]="i >= 5 ? { color: 'white' } : {}"
    >
      <dt>Times clicked button "Display Details":</dt>
      <dd>- {{ detail.counter }} -</dd>
      <dt>Time when clicked:</dt>
      <dd>- {{ detail.timestamp | date : "yyyy-MM-dd HH:mm:ss" }} -</dd>
    </dl>
  </div>
</div>
