<div class="row edit-row">
  <h3 class="user-edit-module-title">{{ userEditTitle }}</h3>
  <hr />
  <div style="margin-left: 5%">
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="name"
            class="form-control"
          />
        </div>
        <div class="col-xs-6 form-group">
          <label for="lastName">Lastname</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            formControlName="lastName"
            class="form-control"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 form-group">
          <label for="birthYear">Year Of Birth</label>
          <input
            type="text"
            id="birthYear"
            name="birthYear"
            formControlName="birthYear"
            class="form-control"
          />
        </div>
        <div class="col-xs-5 form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            formControlName="email"
            class="form-control"
          />
        </div>
        <div class="col-xs-4">
          <button
            [routerLink]="['/user', user?.id]"
            class="btn btn-success user-edit-button"
            href="#"
            type="button"
            (click)="onSaveButtonClick()"
          >
            Save
          </button>
        </div>
      </div>
    </form>

    <div class="success-toast" *ngIf="showToast">
      {{ userEditToastMessage }}
    </div>
  </div>
  <hr />
</div>
