<div class="container">
  <h1 class="wish-module-title">{{ wishComponentTitle }}</h1>
  <div class="row">
    <div class="new-wish-but-container">
      <button
        id="enable_but"
        name="enable_but"
        class="btn btn-primary"
        (click)="onAddNewWish()"
      >
        Add New Wish
      </button>
    </div>
  </div>

  <div class="row">
    <div
      *ngIf="isSpinner"
      class="text-center"
      style="
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="spinner"></div>
    </div>
    <div class="row wish-row">
      <div class="col-md-5 mds5">
        <app-wish-list
          [&childInputWhisItemhList]="$wishItemParentList"
        ></app-wish-list>
      </div>
      <div class="col-md-7 mds7">
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
