<div class="row" style="margin: 2px">
  <a
    class="list-group-item clearfix"
    style="cursor: pointer"
    (click)="onDetailsClick()"
  >
    <div class="row">
      <i class="list-group-item-text">User no: -{{ userNumer + 1 }}-</i>
      <div class="row">
        <div class="col-xs-6">
          <p class="list-group-item-heading">Name: {{ userItem?.name }}</p>
        </div>
        <div class="col-xs-6">
          <p class="list-group-item-heading">
            Surname: {{ userItem?.lastName }}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
