.game-control-title {
    color: #333333; /* Dark grey color */
    text-shadow: 2px 3px 7px #f05959; /* Deep red shadow */
    font-size: 3rem; /* Adjust the size if needed */
    font-weight: bold; /* Bold font */
    font-style: italic;
  }

  