<div class="container">
  <div class="row" style="padding-top: 22px">
    <div class="col-md-2  searchbar">
      <select class="form-control" 
      
      [(ngModel)]="selectedCriteria">
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="text">Text</option>
        <option value="subject">Subject</option>
      </select>
    </div>
    <div class="col-md-2 searchbar" *ngIf="selectedCriteria==='author'">
      <select class="form-control" [(ngModel)]="selectSorting">
        <option value="new">New</option>
        <option value="old">Old</option>
        <option value="random">Random</option>
      </select>
    </div>
    <div class="col-md-6 searchbar" >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchValue"
        #searchText
        placeholder= {{searchFiledPlaceholder}}
        [disabled]="isSearchFiledDisabled"
      />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" 
      [disabled]="!searchValue"
      (click)="onSearchClick(searchText)">
        Search
      </button>
    </div>
  </div>
</div>
