<div class="row">
  <div class="col-xs-12">
    <hr class="custom-hr" />
    <form>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="name-title">Name/Title</label>
          <input
            type="text"
            id="name-title"
            name="name-title"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="type">Type</label>
            <input type="text" id="type" name="type" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            name="description"
            class="form-control"
          >
          </textarea>
        </div>

        <div class="col-sm-4" style="padding: 35px">
          <div appDropdown class="btn-group">
            <button
              class="btn wish-button dropdown-toggle "
              type="button"
              id="wish-button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            >
              Options
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="wish-button">
              <li><button href="#" class="btn btn-primary">Add</button></li>
              <li><button href="#" class="btn btn-danger">Delete</button></li>
              <li><button href="#" class="btn btn-warning">Clear</button></li>
            </ul>
          </div>
        </div>

      </div>
    </form>
    <hr class="custom-hr custom-hr-top" />
  </div>
</div>
