<div class="row">
  <div class="col-xs-12">
    <hr class="custom-hr" />
    <form>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="name-title">Name/Title</label>
          <input
            type="text"
            id="name-title"
            name="name-title"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="type">Type</label>
            <input type="text" id="type" name="type" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            name="description"
            class="form-control"
          >
          </textarea>
        </div>
        <div class="col-sm-4 " style="padding: 35px;">
          <button type="submit" class="btn btn-primary wish-button">Add</button>
          <button type="button" class="btn btn-danger wish-button">
            Delete
          </button>
          <button type="button" class="btn btn-warning wish-button">
            Clear
          </button>
        </div>
      </div>
    </form>
    <hr class="custom-hr custom-hr-top" />
  </div>
</div>
