<div class="row" style="margin-bottom: 3%" *ngIf="wishItem">
  <div class="col-xs-12" style="text-align: center">
    <h3 class="wish-detail-title">Your Finding and Wish details</h3>
  </div>
</div>
<hr class="custom-hr" />
<div class="row detail-row">
  <div class="row">
    <button (click)="onCloseClick()" class="xbutton btn btn-danger btn-sm">
      X
    </button>
  </div>
  <div class="image-container">
    <div class="row" *ngIf="wishItem?.pictureUrl">
      <div class="col-sm-12" style="text-align: center">
        <a (click)="openLargeImage(wishItem?.pictureUrl?.largeSizeUrl)">
          <img
            alt="{{ wishItem?.pictureUrl?.picCode }}"
            [src]="wishItem?.pictureUrl?.mediumSizeUrl"
            class="img-responsive"
            style="cursor: pointer"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ wishItem?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Type: {{ wishItem?.type }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8" *ngFor="let wishdet of wishItem?.descriptions">
      <label for="{{ wishdet.name }}">{{ wishdet.name }}</label>
      <p id="{{ wishdet.name }}">
        {{ wishdet.content }}
      </p>
    </div>
    <div class="col-xs-4">
      <div appDropdown class="btn-group">
        <button
          class="btn wish-button dropdown-toggle"
          type="button"
          id="wish-detail-button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          Manage Wish Item
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="wish-button">
          <li>
            <!-- here intentionaly leaft click methods not rounting with edit/id url
            to show that we can keep like this or like in user section -->
            <button
              class="btn btn-primary btn-wish-detail"
              (click)="onEditWish()"
            >
              Edit
            </button>
          </li>
          <li>
            <button
              class="btn btn-danger btn-wish-detail"
              (click)="onRemoveWish()"
            >
              Remove
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="hr big" />
