<div class="row" style="margin: 2px">
  <span
    class="pull-right"
    *ngIf="wishitem?.pictureUrl && wishitem?.pictureUrl?.mediumSizeUrl !== ''"
    style="margin-right: 10px"
  >
    <img
      class="img-responsive"
      style="max-height: 100px"
      alt="{{ wishitem?.pictureUrl?.picCode }}"
      [src]="wishitem?.pictureUrl?.mediumSizeUrl"
    />
  </span>
  <div class="pull-left">
    <i class="list-group-item-text">Wish no: -{{ wishNumer + 1 }}-</i>
    <br />
    <h4 class="list-group-item-heading">{{ wishitem?.name }}</h4>
    <p class="list-group-item-text" style="color: blue">
      Type;{{ wishitem?.type }}
    </p>
    <ul *ngIf="wishitem && wishitem.descriptions.length > 0">
      <li *ngFor="let desc of wishitem.descriptions">
        <p class="list-group-item-text" style="text-align: left">
          <span style="font-weight: bold;">{{ desc.name.toLocaleUpperCase() }}: </span>
          <span>{{ desc.content }}</span>
        </p>
      </li>
   
    </ul>
  </div>
</div>
