<div class="row">
  <div class="col-xs-12">
    <button
      (click)="onCloseClick()"
      style="float: right; margin: 5px"
      class="btn btn-danger btn-sm"
    >
      X
    </button>
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>BOOK TITLE</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Authors</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Other details</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Mange Book <span class="caret"> </span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">To Wish List</a></li>
        <li><a href="#">Send by Emial</a></li>
      </ul>
    </div>
  </div>
</div>

