<div class="container">
  <h1 class="user-module-title">{{ userComponentTitle }}</h1>
  <div class="row">
    <div class="new-user-but-container">
      <button
        id="enable_but"
        name="enable_but"
        class="btn btn-primary"
        (click)="onAddNewUser()"
      >
        Add New User
      </button>
    </div>
  </div>

  <div class="row">
    <div
      *ngIf="isSpinner"
      class="text-center"
      style="
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="spinner"></div>
    </div>
    <div class="row user-row">
      <div class="col-md-5 mds5">
        <app-user-list></app-user-list>
      </div>
      <div class="col-md-7 mds7">
        <div class="row" *ngIf="isUseretail">
          <router-outlet></router-outlet>
          <!-- I want to use here named outlet, but it doesn't work. Maybe later will find out how -->
        </div>
        <div class="row">
          <router-outlet name='edit'></router-outlet>
          <app-user-edit *ngIf="isNewUser"></app-user-edit>
        </div>
      </div>
    </div>
  </div>
</div>
