<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h3 class="wish-title">Your wish list for the moment</h3>
  </div>
  <div class="col-xs-12" style="text-align: left; margin-left: 3px">
    <i>- Number of wishies: {{ wishItemList.length }} -</i>
  </div>
</div>
<div class="row list-container" *ngIf="wishItemList.length > 0">
  <hr class="custom-hr" />
  <div *ngFor="let wish of wishItemList; let i = index">
    <div class="col-xs-12">
      <app-wish-item [wishitem]="wish" [wishNumer]="i"> </app-wish-item>
    </div>
    <!-- <div class="col-xs-12" style="margin-bottom: 3%">
      <button type="button" class="btn btn-success btn-wish"
      (click)="onDetailsClick(wish)"
      >Details</button>
      <button type="button" class="btn btn-warning btn-wish">Edit</button>
      <button
        type="button"
        class="btn btn-danger btn-wish"
        (click)="onRemoveWithItem(wish)"
      >
        Remove
      </button>
      <hr>
    </div> -->
  </div>
</div>
<div class="remove-toast" *ngIf="showToast">
  {{ toastMessage }}
</div>
