<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h3 class="wish-title">Your wish list for the moment</h3>
  </div>
  <div class="col-xs-12" style="text-align: left; margin-left: 3px">
    <i>- Number of wishies: {{ wishItemList.length }} -</i>
  </div>
</div>
<div class="row list-container" *ngIf="wishItemList.length > 0">
  <hr class="custom-hr" />
  <div *ngFor="let wish of wishItemList; let i = index">
    <div class="col-xs-12">
      <app-wish-item [wishitem]="wish" [wishNumer]="i"> </app-wish-item>
    </div>
  </div>
</div>
