<div class="row" style="margin: 2px">
  <span
    class="pull-right"
    *ngIf="wishitem?.pictureUrl && wishitem?.pictureUrl?.mediumSizeUrl !== ''"
    style="margin-right: 10px"
  >
    <img
      class="img-responsive"
      style="max-height: 100px"
      alt="{{ wishitem?.pictureUrl?.picCode }}"
      [src]="wishitem?.pictureUrl?.mediumSizeUrl"
    />
  </span>
  <div class="pull-left">
    <i style="margin-left: 80%" class="list-group-item-text">Wish no: -{{wishNumer}}-</i>
    <br />
    <h4 class="list-group-item-heading">Name: {{ wishitem?.name }}</h4>
    <p class="list-group-item-text">Type;{{ wishitem?.type }}</p>
    <p class="list-group-item-text">Title:{{ wishitem?.title }}</p>
    <p class="list-group-item-text">Description:{{ wishitem?.description }}</p>
  </div>
</div>
