<div class="row">
  <b style="margin-left: 20px">--Section5 - task--</b>
  <app-game-control
    (statGame)="onStartGame()"
    (stopGame)="onStopGame()"
  ></app-game-control>
  <div class="contaier" *ngIf="tickIntrecement !== 0">
    <app-even
    *ngFor="let number of evenNumbers"
      [evenGameNumber]="number"
      [evenTextToShow]="gameMessage"
      
    >
    </app-even>
    <app-odd
    *ngFor="let number of oddNumbers"
      [oddGameNumber]="number"
      [oddTextToShow]="gameMessage"
    ></app-odd>
  </div>
</div>
a