<div class="container home-container">
  <div class="row title-row">
    <div class="col-md-12">
      <h1 class="home-title">{{ title }}</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>
          <strong>Application Description:</strong>
          <ul>
            <li>This is an Angular 16.1.6 + TypeScript web application hosted on an Nginx server running on an Ubuntu machine. It serves as both a learning project and a practical application.</li>
            <li>Learning Journey: This application was created during the process of learning Angular and TypeScript, utilizing various online courses and tutorials. It reflects the developer's journey in mastering these technologies.</li>
            <li>User Registration: Users can create accounts and log in to the application. Firebase serves as the backend and database, ensuring secure user management and data storage.</li>
            <li>Secure Access: Two primary tabs, "WISH" and "USER," are accessible only after a successful login. This enhances security and ensures that sensitive information is only available to authenticated users.</li>
            <li>Learning Section: The "LEARNING" tab contains tests and short examples that help users explore different Angular techniques. It acts as an educational resource within the application.</li>
            <li>Library Search: The "Library" tab allows users to search for books using the OpenLibrary API. It provides a practical use case for integrating external APIs into an Angular application.</li>
            <li>Ongoing Development: This application is a work in progress and serves as a continuous learning project. It is regularly updated and improved as the developer's skills evolve.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row image-row">
    <div
      class="col-md-6 image-container"
      *ngFor="let image of images.slice(0, 2)"
    >
      <img [src]="image.path" alt="Image" class="img-responsive" />
      <h4>{{ image.imageName }}</h4>
    </div>
  </div>
  <div class="row image-row">
    <div
      class="col-md-6 image-container"
      *ngFor="let image of images.slice(2, 4)"
    >
      <img [src]="image.path" alt="Image" class="img-responsive" />
      <h4>{{ image.imageName }}</h4>
    </div>
  </div>
  <hr />
</div>
