<label for="serverName">Server name</label>
<input
  type="text"
  name="srverName"
  id="serverName"
  class="form-control form-control-sm"
  style="width: 80%"
  placeholder="Enter server name"
  (input)="onUpdateServerName($event)"
/>
<br />
<p>{{ addNewServerInfo() }}</p>
<p *ngIf="isServerCreated">Server was created, it's name: + {{ serverName }}</p>
<!-- <ng-template #noServer>
    <p>No server was created</p>
  </ng-template> -->
<button
  class="btn btn-primary"
  (click)="onClickAddServerButton()"
  [disabled]="isDisabled()"
>
  Add Server
</button>
<br />
<br />
<app-server></app-server>
<app-server></app-server>
